@import '@/_vars';

.headerLayout {
    &__{
        &ribbon{
            position: fixed;
            background-color: $color-black-1000;
            width: 100%;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
        }

        &content{
            padding-top: 56px;
        }
    }
}