$color-black-1000: #000;
$color-black-700: rgba(0, 0, 0, 0.7);
$color-black-400: rgba(0, 0, 0, 0.4);


$color-gold-1000: #e5b80b;




$color-white-1000: #fff;


// media queries


$greater-than-mobile: 480px;
$greater-than-tablet: 768px;