@import '@/_vars'; 

.productInfo {
    width: 100%;

    &__ {
        &title{
            font-size: 34px;
            line-height: 40px;
            margin-bottom: 30px;
            font-weight: 600;
        }

        &category {
            background-color: $color-black-1000;
            color: $color-white-1000;
            display: inline-block;
            padding: 10px;
            text-transform: capitalize;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 20px;
        }

        &price {
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 20px;
        }

        &rating {
            margin-bottom: 20px;
        }

        &description {
            font-size: 18px;
            line-height: 24px;
        }
    }
}